@model Maticsoft.Model.album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>album</legend>

    <div class="display-label">GenreId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GenreId)
    </div>

    <div class="display-label">ArtistId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArtistId)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">AlbumArtUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlbumArtUrl)
    </div>

    <div class="display-label">genrename</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.genrename)
    </div>

    <div class="display-label">artistname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.artistname)
    </div>
</fieldset>
@using (Html.BeginForm()) {
      @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
